.footer {
  background-color: var(--terciary-color);

  .footer-content {
    height: 368px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .footer-align {
      height: 240px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .footer-logo {
        width: 176px;
        height: 50px;
      }
    }
  }
}

.footer-desenvolvimento {
  height: 102px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
}