.categoria-content {
  padding-top: 50px;

  .categoria-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h2 {
      font-weight: 700;
      font-size: 2rem;
      color: var(--text-color);
    }

    a {
      font-weight: 700;
      font-size: 1rem;
      color: var(--primary-color);
      text-decoration: none;
    }

    i {
      font-size: 1.25rem;
      color: var(--primary-color);
    }
  }

  .categoria-produtos {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
}