<ng-container *ngIf="product$ | async as produto">
  <main class="add-product">
    <form
      class="product-form"
      [formGroup]="productForm"
      (submit)="atualizarProduto()"
    >
      <h2 class="title">Atualizar produto</h2>

      <img class="product-img" src="{{ produto.img }}" alt="" />

      <div class="input-field-box">
        <div class="input-field-content">
          <label class="input-label" for="name">Nome do produto</label>
          <input
            class="input-text"
            type="text"
            formControlName="name"
            maxlength="20"
          />
        </div>
        <ng-container
          *ngIf="
            formControls['name'].invalid &&
            (formControls['name'].dirty || formControls['name'].touched)
          "
        >
          <span
            *ngIf="formControls['name'].errors?.['required']"
            class="input-error-message"
            >Informe o nome do produto</span
          >
        </ng-container>
      </div>

      <div class="input-field-box">
        <div class="input-field-content">
          <label class="input-label" for="categoria"
            >Categoria do produto</label
          >
          <input
            class="input-text"
            type="text"
            formControlName="categoria"
            maxlength="20"
          />
        </div>
        <ng-container
          *ngIf="
            formControls['categoria'].invalid &&
            (formControls['categoria'].dirty ||
              formControls['categoria'].touched)
          "
        >
          <span
            *ngIf="formControls['categoria'].errors?.['required']"
            class="input-error-message"
            >Informe a categoria do produto</span
          >
        </ng-container>
      </div>

      <div class="input-field-box">
        <div class="input-field-content">
          <label class="input-label" for="price">Preço do produto</label>
          <input
            currencyMask
            maxlength="8"
            class="input-text"
            type="text"
            formControlName="price"
          />
        </div>
        <ng-container
          *ngIf="
            formControls['price'].invalid &&
            (formControls['price'].dirty || formControls['price'].touched)
          "
        >
          <span
            *ngIf="formControls['price'].errors?.['required']"
            class="input-error-message"
            >Informe o preço do produto</span
          >
        </ng-container>
      </div>

      <div class="text-field-box">
        <div class="text-field-content">
          <label class="input-label" for="description"
            >Descrição do produto</label
          >
          <textarea
            class="text-area"
            formControlName="description"
            maxlength="150"
          ></textarea>
        </div>
        <ng-container
          *ngIf="
            formControls['price'].invalid &&
            (formControls['price'].dirty || formControls['price'].touched)
          "
        >
          <span
            *ngIf="formControls['price'].errors?.['required']"
            class="input-error-message"
            >Informe a descrição do produto</span
          >
        </ng-container>
      </div>

      <button class="btn-adicionar" type="submit">Atualizar produto</button>
    </form>
  </main>
</ng-container>
